<ul>
  {{#each anims}}
    <li>
      <p>Type: {{type}}</p>
      <p>Nickname: {{name}}</p>
      <p>Ideal Careers: {{idealCareers}}</p>
      <p>Other famous people with your type: {{others}}</p>
      <br>
    </li>
  {{/each}}
</ul>
